<!-- footer -->

{% load static %}
<footer class="footer" sytle='position:absolute;bottom:0px!important;'>
    <div class="container">
        <div class="row">
      

            <div class="col-6 col-md-4 col-lg-3 col-xl-2 order-1 order-md-2 order-lg-1 order-xl-2 offset-md-2 offset-lg-0 offset-xl-1">
                <h6 class="footer__title">Adult Star Content</h6>
                <div class="footer__nav">
                    <a href="{% url 'contact' %}">Contacts</a>
                    {% if user.is_authenticated %}

                    <a href="{% url 'profile' %}">My Profile</a>
                    {% else %}
                    <a href="{% url 'login' %}">My Profile</a>
                    {% endif %}
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-6 col-xl-4 order-3 order-lg-2 order-md-3 order-xl-3">
                <div class="row">
                    <div class="col-12">
                        <h6 class="footer__title" >Browse</h6>
                    </div>

                    

                    <div class="col-6">
                        <div class="footer__nav">
                            <a href="{% url 'dvd' %}">DVD</a>
                            <a href="{% url 'home' %}">Movies</a>
                            <a href="{% url 'scenes' %}">Scene</a>
                            <a href="{% url 'category' %}">Collections</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3 col-xl-2 order-1 order-md-2 order-lg-1 order-xl-2 offset-md-2 offset-lg-0 offset-xl-1">
                <h6 class="footer__title">Pages</h6>
                <div class="footer__nav">
                   {% for page in pages %}
                   {% if page.status == "Active" %}
                   <a href="{% url 'pageshow' page.slug %}">{{page.title}}</a>
                   {%endif %}
                   {% endfor %}
                </div>
            </div>

           
        </div>
        

        <div class="row">
            <div class="col-12">
                <div class="footer__content">
                   
                    <small class="footer__copyright">©Copy right reserved, 2023. Created by <a href="https://themeforest.net/user/dmitryvolkov/portfolio" target="_blank">Bishal and sandesh</a>.</small>
                </div>
            </div>
        </div>
    </div>
</footer>