{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<style>
.sign__input{
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="%23ffffff" d="M7 10l5 5 5-5z" /%3E%3C/svg%3E');
  background-repeat: no-repeat;
background-position: right center; /* Adjust the position as needed */
}


</style>
<header style="z-index:100" class="header header--hidden">
  <div style="max-width:100%;" class="container">
    <div class="row" style='background:black;'>
      <div class="col-12">
        <div class="header__content" style='justify-content:space-evenly!important;'>
          <button class="header__menu" type="button">
            <span></span>
            <span></span>
            <span></span>
          </button>

          {% comment %} <a style="color:white;font-size:18px;" href="{% url 'home'  %}" class="header__logo">
           Adult Star Content
          </a> {% endcomment %}
        
          
          <ul class="header__nav">
            <li class="header__nav-item">
              <a
                class="header__nav-link"
                href="{% url 'home' %}"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >{% trans "Home" %}</a></li>
              
               
           
            <li class="header__nav-item">
              <a
                class="header__nav-link"
                href="{% url 'scenes' %}"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >{% trans "Scenes" %}</a>
            </li>
            <li class="header__nav-item">
              <a
                class="header__nav-link"
                href="{% url 'dvd' %}"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >{% trans "DVD" %}</a>
            </li>
            <li class="header__nav-item">
              <a
                class="header__nav-link"
                href="{% url 'album' %}"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >{% trans "Packages" %}</a>
            </li>
            <li class="header__nav-item">
              <a
                class="header__nav-link"
                href="{% url _('photosets') %}"
                                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                > 


                {% trans "PhotoSets" %}</a>
            </li>
 <li class="header__nav-item">
              <a
                class="header__nav-link"
                href="{% url 'stars' %}"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >{% trans "Stars" %}</a>
            </li>
            <li class="header__nav-item">
            <form action="{% url 'search'  %}" class="header__form" method="POST">
              {% csrf_token %}
              <input
                class="header__form-input"
                name="searchtext"
                type="text"
                placeholder="{% trans 'I am looking for...' %}"
              />
              <button class="header__form-btn" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z"
                  />
                </svg>
              </button>
            
            </form>
            </li>
                     </ul>
         
          

            {% if user.is_authenticated %}
            <!-- <a href="{% url 'logout' %}" class="header__user">
              <span>{% trans "Sign Out" %}</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M20,12a1,1,0,0,0-1-1H11.41l2.3-2.29a1,1,0,1,0-1.42-1.42l-4,4a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l4,4a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L11.41,13H19A1,1,0,0,0,20,12ZM17,2H7A3,3,0,0,0,4,5V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V16a1,1,0,0,0-2,0v3a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V8a1,1,0,0,0,2,0V5A3,3,0,0,0,17,2Z"
                />
              </svg>
            </a> -->
            {% else %}

            <a href="{% url 'login' %}" class="header__user">
              <span>{% trans "Sign in" %}</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M20,12a1,1,0,0,0-1-1H11.41l2.3-2.29a1,1,0,1,0-1.42-1.42l-4,4a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l4,4a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L11.41,13H19A1,1,0,0,0,20,12ZM17,2H7A3,3,0,0,0,4,5V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V16a1,1,0,0,0-2,0v3a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V8a1,1,0,0,0,2,0V5A3,3,0,0,0,17,2Z"
                />
              </svg>
            </a>

            {% endif %}

         
          {% if user.is_authenticated %}
          <a  href='{% url 'profile' %}' style='font-size:1.1rem; color:white;'>
          <i class="fa-solid fa-user"></i>
         {% trans "Welcome"%},<br> <strong style='margin-left:25px;'> {{user.username}}</strong>
          </a>{% endif %}
          <a style="padding-right:10px;"  href='{% url 'cart' %}' class="cart-icon-container" style='font-size:2rem;'>
            <!-- Shopping cart icon (you can replace this with your own icon) -->
            <span class="cart-icon">&#x1F6D2;</span>
            <!-- Cart value (replace '3' with the actual value) -->
            <span style="right:0px;" id="cart-value" class="cart-value">{{cart_count}}</span>
        
          </a>

        
            <form action={% url 'set_language' %} method="post">
              {% csrf_token %}
              <input type="hidden"name="next" value={{redirect_to}}>
              <select class="sign__input" name="language"id="selector">
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for  LANGUAGES as languages %}
                  {% for language in languages %}
                      <option value="{{language.code}}"{% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                          ({{language.code}})
          
                  {% endfor %}
                  <!-- <input  type="submit" value="Go"> -->
              </select>
          </form>

       
      </div>
    </div>
  </div>
 
</header>
<script>

document.querySelector('select[name="language"]').addEventListener('change', function() {
  this.form.submit();
});


</script>

<!-- end header -->
