<script>
	counter={{cart_count}}
	cartValue=document.getElementById('cart-value')
	function add_cart(item){
			id=item.getAttribute('data-context')
			add=document.getElementById('add_cart_'+id)
			remove=document.getElementById('remove_cart_'+id)
			url=item.getAttribute('fetch-url')
			fetch(url)
			counter++
			cartValue.textContent=counter
			add.style.display="none"
			remove.style.display="block"

	}
	function remove_cart(item){
		id=item.getAttribute('data-context')
		add=document.getElementById('add_cart_'+id)
		remove=document.getElementById('remove_cart_'+id)
		url=item.getAttribute('fetch-url')
		fetch(url)
		counter--
		cartValue.textContent=counter
		remove.style.display="none";
		add.style.display="block"


	}



function add_favourites(current){
id=current.getAttribute('data-context')
add=document.getElementById('add_favourites_'+id)
remove=document.getElementById('remove_favourites_'+id)
url=current.getAttribute('fetch-url')
fetch(url)
remove.style.display="block"
add.style.display="none"

}
function remove_favourites(current){
id=current.getAttribute('data-context')
add=document.getElementById('add_favourites_'+id)
remove=document.getElementById('remove_favourites_'+id)
url=current.getAttribute('fetch-url')
fetch(url)

remove.style.display="none"
add.style.display="block"



}
</script>