{% load static %}
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'js/select2.min.js' %}"></script>

	{% include 'include/script.html' %}
	<script>
	// $('#sort').select2({
	// 	placeholder: "Sort By:",
	// 	allowClear: true
	// });
	// $('#view').select2({
	// 	placeholder: "View :",
	// 	allowClear: true
	// });
	$('#popular_category').select2({
	 	placeholder: "Popular Categories",
		closeOnSelect: false, // Add this line to keep the dropdown open after selecting an item
	});
	$('#studio').select2({
	 	placeholder: "Studio",
		closeOnSelect: false ,// Add this line to keep the dropdown open after selecting an item
	});
	$('#scene_category').select2({
	 	placeholder: "Scene Categories",
		closeOnSelect: false // Add this line to keep the dropdown open after selecting an item

	});
	$('#model').select2({
	 	placeholder: "Model Types",
		closeOnSelect: false // Add this line to keep the dropdown open after selecting an item

	});

	</script>