{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
	<title>Adult Content Shop</title>
{% endblock %}


{% block content %}
	<!-- header (hidden style) -->
{% include 'include/header.html'%}

	<!-- head -->
	<section class="section section--head section--head-fixed">
		<div class="container">
			<div class="row">
				<div class="col-12 col-xl-6">
					<h1 class="section__title section__title--head">Contacts</h1>
				</div>

				<div class="col-12 col-xl-6">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="index.html">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Contacts</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- end head -->

	<!-- contacts -->
	<section class="section section--pb0">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-7 col-xl-8">
					
					<form action="{% url 'contact' %}" method='POST' class="sign__form sign__form--contacts">
						{% csrf_token %}
						{% include 'include/alert.html' %}
						
						<div class="row">
							<div class="col-12 col-xl-6">
								<div class="sign__group">
									<input type="text" name="first_name" required class="sign__input" placeholder="First Name">
								</div>
							</div>
							<div class="col-12 col-xl-6">
								<div class="sign__group">
									<input type="text" name="last_name" required class="sign__input" placeholder="LastName">
								</div>
							</div>
							<div class="col-12 ">
								<div class="sign__group">
									<input type="email" name="email" required class="sign__input" placeholder="Email">
								</div>
							</div>

							<div class="col-12">
								<div class="sign__group">
									<input type="text" name="subject" required class="sign__input" placeholder="Subject">
								</div>
							</div>

							<div class="col-12">
								<div class="sign__group">
									<textarea name="text" class="sign__textarea" required placeholder="Type your message"></textarea>
								</div>
							</div>

							<div class="col-12 col-xl-3">
								<button type="submit" class="sign__btn">Send</button>
							</div>
						</div>
					</form>	
				</div>

				
			</div>
		</div>
	</section>
	<!-- end contacts -->

	<!-- partners -->
	<div class="section section--pb0">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="partners owl-carousel">
						<a href="#" class="partners__img">
							<img src="img/partners/3docean-light-background.png" alt="">
						</a>

						<a href="#" class="partners__img">
							<img src="img/partners/activeden-light-background.png" alt="">
						</a>

						<a href="#" class="partners__img">
							<img src="img/partners/audiojungle-light-background.png" alt="">
						</a>

						<a href="#" class="partners__img">
							<img src="img/partners/codecanyon-light-background.png" alt="">
						</a>

						<a href="#" class="partners__img">
							<img src="img/partners/photodune-light-background.png" alt="">
						</a>

						<a href="#" class="partners__img">
							<img src="img/partners/themeforest-light-background.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end partners -->

	<!-- footer -->
	{% include 'include/footer.html' with pages=pages %}
	
{% endblock %}
