


{% extends 'cart/base.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-top: 148px;">
    <center><i class="fas fa-check-circle" style="font-size: 72px;margin-bottom: 20px;color: #28A745;"></i></center>
    <h2 class="text-center">Payment Successful</h2>
	<br>
	<div class="text-center">
		<a href="" class="btn btn-success">Shop more</a>
	</div>
</div>
<div class=" mt-3 text-center">

<a href='{% url 'download_pdf' order_number transID  %}' class="btn btn-primary">Download Invoice</a> 
</div>
<div class=" mt-3 text-center">

    <a href='{% url 'download_list' %}' class="btn btn-primary">Download Your Files</a> 
    </div>
{% include 'cart/include/invoice.html' %}
{% endblock %}