{% extends 'owner/base.html' %}
{% load static %}
{% block content %}
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<!-- main title -->
				<div class="col-12">
					<div class="main__title">
						<h2>Add new Package</h2>
					</div>
				</div>
				<!-- end main title -->

				<!-- form -->
				<div class="col-12">
					<form action="{% url 'add_album' %}" method='POST' enctype="multipart/form-data" class="form">
						
						 {% csrf_token %}
						<div class="row">
							<div class="col-12 col-md-5 form__cover">
								<div class="row">
									<div class="col-12 col-sm-6 col-md-12">
										<div class="form__img">
											<label for="form__img-upload">Upload album cover (190 x 270)</label>
											<input type="file" id="form__img-upload" required name="form__img-upload" type="file" accept=".png, .jpg, .jpeg">
											<img id="form__img" src="#" alt=" ">
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 col-md-7 form__content">
								<div class="row">
									<div class="col-12">
										<div class="form__group">
											<input type="text" required class="form__input" name='title' placeholder="Title">
										</div>
									</div>


									

 
	
									<div class="col-12 col-sm-6 col-lg-3">
										<div class="form__group">

											<input type="text" required class="form__input" placeholder="limit of videos" name='limit'>
										</div>
									</div>
									<div class="col-12 col-sm-6 col-lg-3">
										<div class="form__group">

											<input type="text" required class="form__input" placeholder="Price of Album" name='price'>
										</div>
									</div>
									<div class="col-12 col-lg-6">
										<div class="form__group">
											<select class="custom-select" style="text-align:center;padding:3px;background-color:#151f30;color:white;height:40px;border-color:#151f30;border-radius:20%;width:150px;" name='type'  >
												
												<option  value="DVD">DVD</option>
												<option value="Scene">Scene</option>
												<option value="PhotoSets">Photo Sets</option>

											</select>
										</div>
									</div>
									<div class="col-12  ">
										<div class="form__group">
											<select class="js-example-basic-multiple" name='genre' id="genre" multiple="multiple">
												{% for genre in genres %}
												<option value="{{genre.id}}">{{genre.category_name}}</option>
												{% endfor %}
											</select>
										</div>
									</div> 


									<div class="col-12">
										<button type="submit" class="form__btn">publish</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<!-- end form -->
			</div>
		</div>
	</main>
	<!-- end main content -->
{% endblock %}
