{% extends 'base.html' %}
{% load static %}
{% block  title %}
	<title>FlixTV – Movies & TV Shows, Online cinema HTML Template</title>
{% endblock %}

{% block content %}
	<!-- header (hidden style) -->
{% include 'include/header.html' %}	
{% include 'include/responsive.html' %}
</style>
	<!-- details -->
	<section style="padding:0px;" class="section section--head section--head-fixed section--gradient section--details-bg">
		<div class="container">
			<!-- article -->
			<div class="article">
				<div class="row">
						<div class="article__content">
								
							<h1>{{ product.album_name }}</h1>
							
													</div>
						<!-- end article content -->
					</div>

					<div class="col-12 col-xl-8">
						<!-- categories -->
						<div class="categories">
							<h3 class="categories__title">Genres</h3>
							{% for gen in product.genre.all  %}
							<a href="{% url 'categorybygenre' gen.category_name %}" class="categories__item">{{ gen.category_name }}</a>
							{% endfor %}
						</div>
						<!-- end categories -->

					
					</div>
<div id='counter' style="color:white;margin-top:25px;font-size:20px;">{{counter}} items added in album</div>
				
<div style="justify-content:center; margin:0 auto;" class="row row--grid">

							{% for item in movies %}
							{% if item in itemsincart %}
							{% else %}
							{% if product.type == "Scene" %}
							<div  class="large_screen col-6 col-sm-6 col-lg-3 col-xxl-2 ">
								<div class="card">
									<a style="border-radius:0px;filter:blur(0);hover:none;" href="{% url 'details' slug=item.slug %}" class="card__cover">
										<img  style='filter:blur(0px);' class='product_image_scene'  src="{{item.coverphoto.url}}" alt="">
								{% else%}

							<div class="large_screen col-6 col-sm-4 col-lg-3 col-xl-2 col-xxl-2">
								<div class="card" style='width:220px;'>
									<a style="border-radius:0px;" href="{% url 'details' slug=item.slug %}" class="card__cover">
										<img style="filter:blur(0);" class='product_image' src="{{item.coverphoto.url}}" alt="">
																		
									{% endif %}
									</a>
									
								<span class="card__rating">{{item.price}} $</span>
								<h3 class="card__title"><a href="{% url 'details' slug=item.slug%}">{{item.movie_name}}</a></h3>
								<ul class="card__list">
									<li>{{item.type}}</li>
									<li>{{item.price}} $</li>
									<li>{{item.duration}} min</li>
								</ul>
								{% if user.is_authenticated %}
								
								{%if item in already_in_album %}
								<button dec-url="{% url 'dec_counter' product.id item.id %}"  id="item_remove_{{item.id}}" onclick="remove_item({{item.id}})"  class="sign__btn">Added</button>
									{% else %}
								<button inc-url="{% url 'inc_counter' product.id item.id %}" id="item_add_{{item.id}}" onclick="add_item({{item.id}})"  class="sign__btn">Add to Packages</button>

								{% endif %}
								<button dec-url="{% url 'dec_counter' product.id item.id %}" style="display:none;" id="item_remove_{{item.id}}" onclick="remove_item({{item.id}})"  class="sign__btn">Added</button>

								<button inc-url="{% url 'inc_counter' product.id item.id %}" style="display:none;" id="item_add_{{item.id}}" onclick="add_item({{item.id}})"  class="sign__btn">Add to Packages</button>

	     {% else %}		
		<a href="{% url 'login' %}" style='margin:0 auto;' ><button   class="sign__btn">Add to Packages</button></button></a>
		{% endif %}
							</div>
						</div>
					{% endif %}
					{% endfor %}</div>
					
				</div>


          {% if user.is_authenticated %}
		  
		<button id="disable_cart" disabled style="display:none;max-width:20%;" class="sign__btn">Insert More Items</button>
		<a id="enable_cart" href='{% url 'add_album' product.id %}' style="display:none;max-width:20%;" class="sign__btn">Show Cart</a>
		{% else %}		
		 <a href='{% url 'login' %}' style="width:40%;" class="sign__btn">Show Cart</a>
		 
		 {% endif %}


			</div>
			<!-- end article -->
		</div>
		<div class="row">
			<div class="col-12">
				<div class="catalog__paginator-wrap">
					<span class="catalog__pages">10 from {{count}}</span>

					<ul class="catalog__paginator">
						<nav class="mt-4" aria-label="Page navigation sample">
							{% if all_products.has_other_pages %}
							<ul class="pagination" style='display: flex;
							margin-bottom: 13px;'>
								{% if all_products.has_previous %}
								<li class="page-item "><a class="page-link"
										href="?page={{all_products.previous_page_number}}">Previous</a></li>
								{% else %}
								<li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
								{% endif %}
		
								{% for i in all_products.paginator.page_range %}
								{% if all_products.number == i %}
								<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
								{% else %}
								<li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
								{% endif %}
								{% endfor %}
								{% if all_products.has_next %}
								<li class="page-item"><a class="page-link active" href="?page={{all_products.next_page_number}}">Next</a></li>
								{% else %}
								<li class="page-item disabled"><a class="page-link " href="#">Next</a></li>
								{% endif %}
							</ul>
							{% endif %}
						</nav>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</section>
	<!-- end details -->

	<!-- similar -->
	
	<!-- end similar -->
	{% include 'include/footer.html' %}
	






<script>



window.onpageshow = function(event) {
	if (event.persisted) {
		// Force a page reload
		window.location.reload();
	}
};

disable_cart=document.getElementById('disable_cart')
enable_cart=document.getElementById('enable_cart')

if ({{counter}}>={{product.limit}}){
enable_cart.style.display="flex"
}else{
	remaining={{product.limit}}-{{counter}}
	
	disable_cart.style.display="block"
	disable_cart.textContent="Insert More Items("+remaining+" remaining)"
}

var	counterlocal={{counter}}
ct=document.getElementById('counter')


	function add_item(id){
		if (counterlocal>={{product.limit}}){
			alert('limit reached')
			return
		}
		add=document.getElementById('item_add_'+id)
		remove=document.getElementById('item_remove_'+id)
		{% comment %} url=add.getAttribute('data-url') {% endcomment %}
		addurl=add.getAttribute('inc-url')
		{% comment %} fetch(url) {% endcomment %}
		fetch(addurl)
		counterlocal++
		if (counterlocal>={{product.limit}}){
			enable_cart.style.display="flex"
			disable_cart.style.display="none"
		}else{
			remaining={{product.limit}}-counterlocal
			disable_cart.textContent="Insert More Items("+remaining+" remaining)"

		}
		ct.textContent=counterlocal+" items added in album"
		add.style.display="none"
		remove.style.display="block"
	}
	function remove_item(id){
		add=document.getElementById('item_add_'+id)
		remove=document.getElementById('item_remove_'+id)
		url=remove.getAttribute('data-url')
		removeurl=remove.getAttribute('dec-url')
		fetch(url)

		
		fetch(removeurl)
		
		counterlocal--
		if (counterlocal<{{product.limit}}){
			remaining={{product.limit}}-counterlocal
	
			disable_cart.style.display="block"
			disable_cart.textContent="Insert More Items("+remaining+" remaining)"
					enable_cart.style.display="none"
		}
		if (counterlocal<0){
			counterlocal=0
		}
		ct.textContent=counterlocal+" items added in album"
		add.style.display="block"
		remove.style.display="none"	
}
	function redirecter(e){
		e.preventDefault()
		window.location.replace('/myaccounts/login')
		return 
	}
</script>

{% endblock %}
