{% extends 'base.html' %}
{% load static %}
{% block  title %}
	<title>FlixTV – Movies & TV Shows, Online cinema HTML Template</title>
{% endblock %}

{% block content %}
	<!-- header (hidden style) -->
{% include 'include/header.html' %}	
<style>
	.article__content{
		display:flex;
		flex-direction:row;
	}
	.img_article{
		margin-right:0px;
	}
</style>
	<!-- details -->
	{% if product.type != "PhotoSets" %}
	<section style="padding:0px;" class="section section--head section--head-fixed section--gradient section--details-bg">
		<div class="container">
			<!-- article -->
			<div class="article">
				<div class="row">
					
					<div class="article__content">
						<div class="img_article" >
							<img style="height:250px;width:165px;filter:blur(0);border-radius:0px;" src="{{product.coverphoto.url}}" alt="">
							<div class="article__actions article__actions--details">
								{% if val %}
								<div class="article__download">
									<a style="padding:10px;" class="sign__btn" href="{% url 'cart' %}">Already added</a>	
								</div>
								{% elif already_bought %}
								<div style="display:flex;flex-direction:column;" class="article__download">
									
									<a style="padding:10px;" class="sign__btn" href="{% url 'cart' %}">Already Bought</a>
									<a style="padding:10px;" class="sign__btn" href="{% url 'download_list' %}">Download From Here</a>
	
								</div>
	
								{% else %}
			
								<div style="margin-right:20px"class="article__download"><b>Price: <br>{{product.price}} $</b>	</div>
								<div  class="article__download ">
									{% if notlogin %}
									<a style="max-width:80%;text-align:center;" class="sign__btn" href="{% url 'login' %}">Add To Cart</a>
								
								{%else%}
									<a style="text-align:center;max-width:80%;margin-top:-5px;" class="sign__btn" href="{% url 'add_cart' product.id %}">Add To Cart</a>
								{%endif%}	
								</div>
								{% endif %}
			
								<!-- add .active class -->
								<!--		<button class="article__favorites" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16,2H8A3,3,0,0,0,5,5V21a1,1,0,0,0,.5.87,1,1,0,0,0,1,0L12,18.69l5.5,3.18A1,1,0,0,0,18,22a1,1,0,0,0,.5-.13A1,1,0,0,0,19,21V5A3,3,0,0,0,16,2Zm1,17.27-4.5-2.6a1,1,0,0,0-1,0L7,19.27V5A1,1,0,0,1,8,4h8a1,1,0,0,1,1,1Z"></path></svg> Add to favorites</button> -->
							</div>	
						
						</div>						
						<div>
						<h1>{{ product.movie_name }}</h1>

							<ul class="list">
								<li>{{product.quality}}</li>
								<li>{{product.year}}</li>
								<li>{{product.duration}} min</li>
								<li>{{product.type}}</li>
							</ul>
							<div style="color:white;margin-bottom:10px;">Studio: <a style="display:inline" href="{% url 'studio_detail' product.studio.id %}">{{product.studio.name}}</a></div>
						
							<div style="color:white;margin-bottom:10px;display:inline-block;">Stars: </div>
							{% for star in product.stars.all %}
							<a href="{% url 'star_detail' star.id %}"style="display:inline" >{{star.name}}</a>
								<span style="color:blue">,</span>
							{% endfor %}

							<div style="margin-top:0px;margin-bottom:10px;" class="categories">
								<h3 class="categories__title">Genres</h3>
								{% for gen in product.genre.all  %}
								<a style="margin-top:-20px;" href="{% url 'categorybygenre' gen.category_name %}" class="categories__item">{{ gen.category_name }}</a>
								{% endfor %}
							</div>
							<p>Description:{{product.short_description}}</p>
						</div>

						<!-- end div -->
					</div>
						<!-- end article content -->
					</div>

					<ul style="margin-top:10px;border-radius:16px;padding-left:20px;background-color:#151f30;" class="nav nav-tabs spacer profile__tabs" id="profile__tabs" role="tablist">
							
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="true">Images</a>
						</li>

						<li class="nav-item">
							 <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Trailer</a> 
						</li>
						
					</ul> 
					<div class="tab-content">

					<div class="tab-pane fade" id="tab-2" role="tabpanel">
						<div style="color:white;margin-top:25px;font-size:20px;">Trailer:</div>
					<!-- video player -->
					<div class="col-12 col-xl-8">
						
						<video  style="height:400px;" controls crossorigin playsinline poster="{{product.coverphoto.url}}" id="player">
							<!-- Video files -->
							{% if product.trailer %}
							<source src="{{product.trailer.url}}" type="video/mp4" size="576">
								<source src="{{product.trailer.url}}" type="video/mp4" size="720">
									<source src="{{product.trailer.url}}" type="video/mp4" size="1080">
								{% endif %}
						</video>

						
					</div>
					</div>
					<div class="tab-pane show active" id="tab-3" role="tabpnel">
						<div class="row">
							<div class="col-12">
								<h2 style="font-size:22px;text-align:center;"class="section__title">Images</h2>
							</div>
			
							<div class="col-12">
								<div class="section__carousel-wrap">
									<div class="section__carousel owl-carousel" id="images">
										{% for item in product.images.all %}
										<div>
											<a href="{{item.image.url}}" class="card__cover">
												<img src="{{item.image.url}}" alt="">
											</a>	
											
										</div>
										{% endfor %}
										
									</div>
			
									<button class="section__nav section__nav--cards section__nav--prev" data-nav="#images" type="button"><svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.25 7.72559L16.25 7.72559" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.2998 1.70124L1.2498 7.72524L7.2998 13.7502" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
									<button class="section__nav section__nav--cards section__nav--next" data-nav="#images" type="button"><svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.75 7.72559L0.75 7.72559" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.7002 1.70124L15.7502 7.72524L9.7002 13.7502" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
								</div>
						</div>
					</div>
				</div>
					
					
				</div>

				

					
							
							
			</div>
			<!-- end article -->
		</div>
	</section>
	{% else %}
	
	<section style="padding:0px;" class="section section--head section--head-fixed section--gradient section--details-bg">
		<div class="container">
			<!-- article -->
			<div class="article">
				<div class="row">
						<div class="article__content">
							<div class="img_article" >
							<img style="height:250px;width:165px;filter:blur(0);border-radius:0px;" src="{{product.coverphoto.url}}" alt="">
							<div class="article__actions article__actions--details">
								{% if val %}
								<div class="article__download">
									<a style="padding:10px;" class="sign__btn" href="{% url 'cart' %}">Already added</a>
									
								</div>
								{% else %}
			
								<div style="margin-right:20px"class="article__download"><b>Price: <br>{{product.price}} $</b>	</div>
								<div  class="article__download ">
									{% if notlogin %}
									<a style="max-width:80%;text-align:center;" class="sign__btn" href="{% url 'login' %}">Add To Cart</a>
								
								{%else%}
			
									<a style="text-align:center;max-width:80%;margin-top:-5px;" class="sign__btn" href="{% url 'add_cart' product.id %}">Add To Cart</a>
								{%endif%}	
								</div>
								{% endif %}
			
								<!-- add .active class -->
								<!--		<button class="article__favorites" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16,2H8A3,3,0,0,0,5,5V21a1,1,0,0,0,.5.87,1,1,0,0,0,1,0L12,18.69l5.5,3.18A1,1,0,0,0,18,22a1,1,0,0,0,.5-.13A1,1,0,0,0,19,21V5A3,3,0,0,0,16,2Zm1,17.27-4.5-2.6a1,1,0,0,0-1,0L7,19.27V5A1,1,0,0,1,8,4h8a1,1,0,0,1,1,1Z"></path></svg> Add to favorites</button> -->
							</div>	
						
						</div>
							<div>
							<h1>{{ product.movie_name }}</h1>

							<ul class="list">
								<li>{{product.quality}}</li>
								<li>{{product.year}}</li>
								<li>{{product.type}}</li>
							</ul>
							<div style="color:white;margin-bottom:10px;">Studio: <a style="display:inline" href="{% url 'studio_detail' product.studio.id %}">{{product.studio.name}}</a></div>
							{% for star in product.stars.all %}
							
							<div style="color:white;margin-bottom:10px;">Stars: <a href="{% url 'star_detail' star.id %}"style="display:inline" >{{star.name}}</a></div>
							{% endfor %}
							<!-- categories -->
							<div style="margin-bottom:5px;" class="categories">
								<h3 class="categories__title" >Genres</h3>
								{% for gen in product.genre.all  %}
								<a style="margin-top:-20px;" href="{% url 'categorybygenre' gen.category_name %}" class="categories__item">{{ gen.category_name }}</a>
								{% endfor %}
							</div>

							<p>Description:{{product.short_description}}</p>
						</div>
						</div>
						<!-- end article content -->
					</div>
				</div>
			

				<div class="row">
					<div class="col-12">
						<h2 style="font-size:22px;text-align:center;"class="section__title">Images</h2>
					</div>
	
					<div class="col-12">
						<div class="section__carousel-wrap">
							<div class="section__carousel owl-carousel" id="images">
								{% for item in product.images.all %}
								<div>
									<a  class="card__cover">
										<img style="filter: blur(6px);" src="{{item.image.url}}" alt="">

									</a>	
									
								</div>
								{% endfor %}
								
							</div>
	
							<button class="section__nav section__nav--cards section__nav--prev" data-nav="#images" type="button"><svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.25 7.72559L16.25 7.72559" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.2998 1.70124L1.2498 7.72524L7.2998 13.7502" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
							<button class="section__nav section__nav--cards section__nav--next" data-nav="#images" type="button"><svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.75 7.72559L0.75 7.72559" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.7002 1.70124L15.7502 7.72524L9.7002 13.7502" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
						</div>
				</div>

					
							
							
			</div>
			<!-- end article -->
		</div>
	</section>
	{% endif %}
	<!-- end details -->
	

	<!-- similar -->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="section__title"><a href="category.html">Similar movies and TV series</a></h2>
				</div>

				<div class="col-12">
					<div class="section__carousel-wrap">
						<div class="section__carousel owl-carousel" id="similar">
							{% for item in similar %}
							<div class="card">
								<a href="{% url 'details' slug=item.slug %}" class="card__cover">
									<img style="filter:blur(0);"src="{{item.coverphoto.url}}" alt="">
								</a>
								<span class="card__rating">{{item.price}} $</span>

								<h3 class="card__title"><a href="{% url 'details' slug=item.slug %}">{{item.movie_name}}</a></h3>
								<ul class="card__list">
									<li>{{item.type}} </li>
									<li>{{item.duration}} min</li>
									<li>{{item.price}} $</li>
								</ul>
							</div>
							{% endfor %}
					</div>

						<button class="section__nav section__nav--cards section__nav--prev" data-nav="#similar" type="button"><svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.25 7.72559L16.25 7.72559" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.2998 1.70124L1.2498 7.72524L7.2998 13.7502" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
						<button class="section__nav section__nav--cards section__nav--next" data-nav="#similar" type="button"><svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.75 7.72559L0.75 7.72559" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.7002 1.70124L15.7502 7.72524L9.7002 13.7502" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end similar -->

	<!-- footer -->
	{% include 'include/footer.html' %}
	{% comment %}  {% endcomment %}
	<!-- end footer -->
<script>
	window.onpageshow = function(event) {
        if (event.persisted) {
            // Force a page reload
            window.location.reload();
        }
    };
	function redirecter(e){
		e.preventDefault()
		window.location.replace('/myaccounts/login')
		return 
	}
</script>

{% endblock %}
