{% extends 'base.html'%}
{% block content %}
{% include 'include/header.html' %}
<style>
.page-item{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			border-radius: 12px;
			background-color: #131720;
			font-size: 14px;
			color: #e0e0e0;
			font-weight: 500;
		}
		.product_image{
			height:290px;
			width:220px;
			filter:blur(0);
			
	
		}
		
		.product_image_scene{
			height: 190px;
			width:290px!important;
			border-radius: 0px;
			filter:blur(0px);
		}
		@media screen and (min-width: 1600px){
		
		  .large_screen{
			margin-right:8px;
		}
			.large_scene{
				margin-right:-30px;
		}
	}




	#age_check {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100vw;
		height: 100vh;
		{% comment %} background-color: rgba(8,11,14,.7); {% endcomment %}
	display: flex;
		justify-content: center;
		align-items: center;
}
	.modal1 {
	display:none;
	width: 50vw;
    background-color: #11181f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #233140;
	}
	

	.modal1 h3{
		color:#f08e84;
		font-size: 1.5em;
    	line-height: 3em;
		font-weight:400;
		text-align:center;
	}
	.modal1 p{
		color:#698aac
	}
	
	.modal1 h2{
		background-color:#080b0e;
		text-align:center;
		color:white;
		padding:8px;
	}
	
	.modal1 .ft-buttons{
		padding: 20px 0;
    border-bottom: 2px solid #080b0e;
    margin-bottom: 10px;
	}
	
	.modal1 .ft-buttons .ft-btn{
	padding: 5px 90px;
    font-size: 1.5em;
    clear: both;
	background-color: #77180e;
	color:white;
	margin-left:2px;
	}
	
	input[type="checkbox"] {
		width: 20px; /* Adjust the width */
		height: 20px; /* Adjust the height */
		margin-top:5px;
	  }

		@media screen and (max-width: 1600px){
			
		  .large_screen{
			margin-right:45px;
		}
		.large_scene{
			margin-right:0px;
		}
	}
		@media screen and (min-width:765px) and (max-width:1200px){
			.large_screen{
				margin-right:20px;
			}
			.large_scene{
				margin-right:-10px;
				max-width:90%;
			}
		
		
	
	}
	
	@media screen and (min-width:465px) and (max-width:600px){
		.product_image{
			height:265px;
			width: 195px;
		}
		
	}
	@media screen and (max-width:585px){
		.card__list{
	justify-content:center;
		}
		.card__title{
			text-align:center;
		}
	}
	





	  @media screen and (max-width:768px){
		.modal1{
			   width:100%;
   
		   }
		   body{
			   font-size:10px;
		   }
		   .ft-btn{
			   margin-top:10px;
		   }
	   } 
</style>
<div id="age_check">
	<div class="modal1" id="ageModal">
			<h2>Are You sure you want to Delete Your Account?</h2>
            <h3>Check the boxes below to Proceed</h3>
			
			
			<input onclick="checker()" type="checkbox" id="download_check" name="download_check" value="download_check" style="margin-right: 5px;margin-left:5px; background-color: white;appearance:checkbox">
			<label for="download_check"><p>I accept all Download rights of the Purchased Video</p></label>
			<br>
			<input onclick="checker()" type="checkbox" id="delete_check" name="delete_check" value="delete_check" style="margin-right: 5px;margin-left:5px; background-color: white;appearance:checkbox">
			<label  for="delete_check"><p>I know what i decided and there's no way to get back the account</p></label>

			<div class="ft-buttons">
			<button home-url={% url 'home' %} disabled delete-url='{% url 'user_delete_user' user.id %}' class="ft-btn"id="yesButton">Delete Account</button>
            <button class="ft-btn" id="noButton">Cancel</button>
			</div>
    </div>
</div>

	<!-- head -->
	<section class="section section--head">
		<div class="container">
			<div class="row">
				{% comment %} <div class="col-12 col-xl-6">
					<h1 class="section__title section__title--head">Profile</h1>
				</div> {% endcomment %}

				<div class="col-12 col-xl-6">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="index.html">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Profile</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- end head -->

	<!-- profile -->
	<style>
		@media screen and (max-width: 768px){
			.topper{
			  margin-top:50px;
		  }
		}
	  @media screen and (max-width: 484px){
		.topper{
		  margin-top:50px;
	  }
	  .spacer{
		flex-direction:column;
	  }
	  .profile__logout{
		position:initial;
	  }
	  .orders_nav{
		margin-left:-30px;
	  }
  }


		  </style>
	<div class="catalog catalog--page">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="topper profile">
						<div class="profile__user">
							<div class="profile__avatar">
								<img src="img/avatar.svg" alt="">
							</div>
							<div class="profile__meta">
								<h3>welcome! {{user.username}}</h3>
								{% comment %} <span>FlixTV ID: 11104</span> {% endcomment %}
							</div>
						</div>

						<!-- tabs nav -->
						 <ul class="nav nav-tabs spacer profile__tabs" id="profile__tabs" role="tablist">
							
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="true">Settings</a>
							</li>

							<li class="nav-item">
								 <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Your Movies</a> 
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="false">Favourites</a> 
						   </li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">Download Files</a> 
						   </li>
						   <li class="nav-item">
							<a class="orders_nav nav-link" data-toggle="tab" href="#tab-5" role="tab" aria-controls="tab-5" aria-selected="false">Orders</a> 
					   </li>

							
						</ul> 
						<!-- end tabs nav -->

						<button onclick='modalshow()' class="profile__logout" type="button">
							<a  href="#">Delete Account</a>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4,12a1,1,0,0,0,1,1h7.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,.21-.33,1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33l-4-4a1,1,0,1,0-1.42,1.42L12.59,11H5A1,1,0,0,0,4,12ZM17,2H7A3,3,0,0,0,4,5V8A1,1,0,0,0,6,8V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V16a1,1,0,0,0-2,0v3a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V5A3,3,0,0,0,17,2Z"></path></svg>
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- your movies-->
		<div class="container">
			<!-- content tabs -->
			<div class="tab-content">
				
				<div class="tab-pane fade" id="tab-2" role="tabpanel">
					<!-- favorites -->
				<div style="margin-top:5px;margin-bottom:-50px;" class="col-12">
					<h1 class="home__title">DVD </h1><F5>
				</div>
				<!--dvd-->
					<div class="row row--grid">
						{% for item in orders_dvd %}
						<div  class="large_screen col-6 col-sm-4 col-lg-3 col-xl-2 ">
							<div class="card" style='width:220px;'>
								<a style="border-radius:0px;" href="{% url 'details' slug=item.product.slug %}" class="card__cover">
									<img style="filter:blur(0);" class='product_image' src="{{item.product.coverphoto.url}}" alt="">
																		</a>
									{% if user.is_authenticated %}
									{% if item.product.id in user_favourite_movie %}
									<button fetch-url="{% url 'remove_favourites' item.product.id %}" data-context="{{item.product.id}}" onclick="remove_favourites(this)"  id="remove_favourites_{{item.product.id}}" class="card__add" type="button">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100">
											<path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z" fill="blue"/>
										</svg>
										
										</button>
									{% else %}
									<button data-context="{{item.product.id}}" fetch-url="{% url 'add_favourites' item.product.id %}"onclick="add_favourites(this)"  id="add_favourites_{{item.product.id}}" class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button>
									{% endif %}
									<button style="display:none" fetch-url="{% url 'remove_favourites' item.product.id %}" data-context="{{item.product.id}}" onclick="remove_favourites(this)"  id="remove_favourites_{{item.product.id}}" class="card__add" type="button">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100">
											<path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z" fill="blue"/>
										</svg>
										
										</button>
										<button style="display:none;" data-context="{{item.product.id}}" fetch-url="{% url 'add_favourites' item.id %}"onclick="add_favourites(this)"  id="add_favourites_{{item.product.id}}" class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button>


										{% else %}
										<a href="{% url 'login' %}"><button class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button></a>
										{% endif %}
									
										

									
								<h3 class="card__title"><a href="{% url 'details' slug=item.product.slug%}">{{item.product.movie_name}}</a></h3>
								<ul class="card__list">
									<li>{{item.product.type}}</li>
									<li>{{item.product.duration}} min</li>
									<li>{{item.product.price}} $</li>
								</ul>
								
							</div>
						</div>
						{% endfor %}
						

						
					</div>
					<!--end dvd-->
					<!--scene-->
					<div  style="margin-top:35px;margin-bottom:-50px;" class="col-12">
						<h1 class="home__title">Scene </h1><F5>
					</div>
					<div class="row row--grid">
						{% for item in orders_scene %}
						<div  class="large_scene col-6 col-sm-6 col-lg-3 col-xxl-2 ">
							<div class="card">
								<a style="border-radius:0px;" href="{% url 'details' slug=item.product.slug %}" class="card__cover">
									<img  style='filter:blur(0px);' class='product_image_scene' src="{{item.product.coverphoto.url}}" alt="">
																		</a>
									{% if user.is_authenticated %}
									{% if item.product.id in user_favourite_movie %}
									<button fetch-url="{% url 'remove_favourites' item.product.id %}" data-context="{{item.product.id}}" onclick="remove_favourites(this)"  id="remove_favourites_{{item.product.id}}" class="card__add" type="button">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100">
											<path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z" fill="blue"/>
										</svg>
										
										</button>
									{% else %}
									<button data-context="{{item.product.id}}" fetch-url="{% url 'add_favourites' item.product.id %}"onclick="add_favourites(this)"  id="add_favourites_{{item.product.id}}" class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button>
									{% endif %}
									<button style="display:none" fetch-url="{% url 'remove_favourites' item.product.id %}" data-context="{{item.product.id}}" onclick="remove_favourites(this)"  id="remove_favourites_{{item.product.id}}" class="card__add" type="button">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100">
											<path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z" fill="blue"/>
										</svg>
										
										</button>
										<button style="display:none;" data-context="{{item.product.id}}" fetch-url="{% url 'add_favourites' item.id %}"onclick="add_favourites(this)"  id="add_favourites_{{item.product.id}}" class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button>


										{% else %}
										<a href="{% url 'login' %}"><button class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button></a>
										{% endif %}
									
										

									
								<h3 class="card__title"><a href="{% url 'details' slug=item.product.slug%}">{{item.product.movie_name}}</a></h3>
								<ul class="card__list">
									<li>{{item.product.type}}</li>
									<li>{{item.product.duration}} min</li>
									<li>{{item.product.price}}$</li>
								</ul>
								
							</div>
						</div>
						{% endfor %}
					</div>
				<!--End Scene-->
				<!-- Photosets-->
				<div  style="margin-top:35px;margin-bottom:-50px;" class="col-12">
					<h1 class="home__title">Photosets </h1><F5>
				</div>
				<div class="row row--grid">
					{% for item in orders_photoset %}
					<div  class="large_screen  col-6 col-sm-4 col-lg-3 col-xl-2 ">
						<div class="card" style='width:220px'>
							<a style="border-radius:0px;" href="{% url 'details' slug=item.product.slug %}" class="card__cover">
								<img style="filter:blur(0);" class='product_image' src="{{item.product.coverphoto.url}}" alt="">
							</a>
								{% if user.is_authenticated %}
								{% if item.product.id in user_favourite_movie %}
								<button fetch-url="{% url 'remove_favourites' item.product.id %}" data-context="{{item.product.id}}" onclick="remove_favourites(this)"  id="remove_favourites_{{item.product.id}}" class="card__add" type="button">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100">
										<path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z" fill="blue"/>
									</svg>
									
									</button>
								{% else %}
								<button data-context="{{item.product.id}}" fetch-url="{% url 'add_favourites' item.product.id %}"onclick="add_favourites(this)"  id="add_favourites_{{item.product.id}}" class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button>
								{% endif %}
								<button style="display:none" fetch-url="{% url 'remove_favourites' item.product.id %}" data-context="{{item.product.id}}" onclick="remove_favourites(this)"  id="remove_favourites_{{item.product.id}}" class="card__add" type="button">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100">
										<path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z" fill="blue"/>
									</svg>
									
									</button>
									<button style="display:none;" data-context="{{item.product.id}}" fetch-url="{% url 'add_favourites' item.id %}"onclick="add_favourites(this)"  id="add_favourites_{{item.product.id}}" class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button>


									{% else %}
									<a href="{% url 'login' %}"><button class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button></a>
									{% endif %}
								
									

								
							<h3 class="card__title"><a href="{% url 'details' slug=item.product.slug%}">{{item.product.movie_name}}</a></h3>
							<ul class="card__list">
								<li>{{item.product.type}}</li>
								<li>{{item.product.duration}} min</li>
								<li>{{item.product.price}} $</li>
							</ul>
							
						</div>
					</div>
					{% endfor %}
				</div>
				<!--End photosets-->
				<div  style="margin-top:35px;margin-bottom:-50px;" class="col-12">
					<h1 class="home__title">Album </h1><F5>
				</div>
				<div class="row row--grid">
					{% for item in orders_album %}
					<div class="large_screen col-6 col-sm-4 col-lg-3 col-xl-2 ">
						<div class="card" style='width:220px'>
							<a style="border-radius:0px;" href="{% url 'album_detail' item.product.album.id %}" class="card__cover">
								<img style="filter:blur(0);" class='product_image' src="{{item.product.album.coverphoto.url}}" alt="">
							</a>
							<span class="card__rating">{{item.product.album.price}} $</span>	
							<h3 class="card__title card__title--subs"><a href="{% url 'album_detail' item.product.album.id %}">{{item.product.album.album_name}}</a></h3>
							<ul class="card__list">
											{% comment %} <li>{{album.movies.count}} items added</li> {% endcomment %}
											<li>{{item.product.album.price}} $</li>
											
										</ul>
						</div>
					</div>
					{% endfor %}
				</div>

				<!--end album-->

				</div> 


				<!--end your movies-->
				<!--favourites section start-->

				<div class="tab-pane fade" id="tab-1" role="tabpanel">
					<!-- favorites -->
					<div style="margin-top:5px;margin-bottom:-50px;" class="col-12">
					<h1 class="home__title">Favourite DVDS </h1><F5>
				</div>
				<!--dvd-->
					<div class="row row--grid">
						{% for item in favourite_dvd %}
						<div class="large_screen   col-6 col-sm-4 col-lg-3 col-xl-2 ">
							<div class="card" style='width:220px;'>
								<a style="border-radius:0px;" href="{% url 'details' slug=item.slug %}" class="card__cover">
									<img style="filter:blur(0);" class='product_image' src="{{item.coverphoto.url}}" alt="">
																		</a>
									{% if user.is_authenticated %}
									{% if item.id in user_favourite_movie %}
									<button fetch-url="{% url 'remove_favourites' item.id %}" data-context="{{item.id}}" onclick="remove_favourites(this)"  id="remove_favourites_{{item.id}}" class="card__add" type="button">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100">
											<path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z" fill="blue"/>
										</svg>
										
										</button>
									{% else %}
									<button data-context="{{item.id}}" fetch-url="{% url 'add_favourites' item.id %}"onclick="add_favourites(this)"  id="add_favourites_{{item.id}}" class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button>
									{% endif %}
									<button style="display:none" fetch-url="{% url 'remove_favourites' item.id %}" data-context="{{item.id}}" onclick="remove_favourites(this)"  id="remove_favourites_{{item.id}}" class="card__add" type="button">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100">
											<path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z" fill="blue"/>
										</svg>
										
										</button>
										<button style="display:none;" data-context="{{item.id}}" fetch-url="{% url 'add_favourites' item.id %}"onclick="add_favourites(this)"  id="add_favourites_{{item.id}}" class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button>


										{% else %}
										<a href="{% url 'login' %}"><button class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button></a>
										{% endif %}
										{% if user.is_authenticated %}
										{% if item.id in user_added_cart %}
										<button onclick="remove_cart(this);" fetch-url={% url 'remove_cart' item.id %} id="remove_cart_{{item.id}}" data-context={{item.id}} style="position:absolute;margin-left:auto;right:10px;top:10px;" class="card__add">
											<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
											</button>
										{% else %}
										<button onclick="add_cart(this);" fetch-url={% url 'add_cart' item.id %} id="add_cart_{{item.id}}" data-context={{item.id}}  style="position:absolute;margin-left:auto;right:10px;top:10px;" class="card__add">
											<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
										</button> 
										{% endif %}
										<button onclick="add_cart(this);" fetch-url={% url 'add_cart' item.id %} id="add_cart_{{item.id}}" data-context={{item.id}}  style="display:none;position:absolute;margin-left:auto;right:10px;top:10px;" class="card__add">
											<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
										</button> 

										<button onclick="remove_cart(this);" fetch-url={% url 'remove_cart' item.id %} id="remove_cart_{{item.id}}" data-context={{item.id}} style="display:none;position:absolute;margin-left:auto;right:10px;top:10px;" class="card__add">
											<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
											</button>
										
										{% else %}

									<button style="position:absolute;margin-left:auto;right:10px;top:10px;" class="card__add">
									<a href={% url 'login' %} > <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></a>
									</button> 
									{% endif %}

										

									
								<h3 class="card__title"><a href="{% url 'details' slug=item.slug%}">{{item.movie_name}}</a></h3>
								<ul class="card__list">
									<li>{{item.type}}</li>
									<li>{{item.duration}} min</li>
									<li>{{item.price}} $</li>
								</ul>
								
							</div>
						</div>
						{% endfor %}
					</div>
					<!-- end favorites dvd-->
							<!-- favorites -->
					<div style="margin-top:5px;margin-bottom:-50px;" class="col-12">
						<h1 class="home__title">Favourite Scenes </h1><F5>
					</div>
					<!--dvd-->
						<div class="row row--grid">
							{% for item in favourite_scene %}
							<div class="large_scene col-6 col-sm-6 col-lg-3 col-xxl-2 ">
								<div class="card">
									<a style="border-radius:0px;" href="{% url 'details' slug=item.slug %}" class="card__cover">
										<img class='product_image_scene' style='filter:blur(0px);'src="{{item.coverphoto.url}}" alt="">
									</a>
										{% if user.is_authenticated %}
										{% if item.id in user_favourite_movie %}
										<button fetch-url="{% url 'remove_favourites' item.id %}" data-context="{{item.id}}" onclick="remove_favourites(this)"  id="remove_favourites_{{item.id}}" class="card__add" type="button">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100">
												<path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z" fill="blue"/>
											</svg>
											
											</button>
										{% else %}
										<button data-context="{{item.id}}" fetch-url="{% url 'add_favourites' item.id %}"onclick="add_favourites(this)"  id="add_favourites_{{item.id}}" class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button>
										{% endif %}
										<button style="display:none" fetch-url="{% url 'remove_favourites' item.id %}" data-context="{{item.id}}" onclick="remove_favourites(this)"  id="remove_favourites_{{item.id}}" class="card__add" type="button">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100">
												<path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z" fill="blue"/>
											</svg>
											
											</button>
											<button style="display:none;" data-context="{{item.id}}" fetch-url="{% url 'add_favourites' item.id %}"onclick="add_favourites(this)"  id="add_favourites_{{item.id}}" class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button>
	
	
											{% else %}
											<a href="{% url 'login' %}"><button class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button></a>
											{% endif %}
											{% if user.is_authenticated %}
											{% if item.id in user_added_cart %}
											<button onclick="remove_cart(this);" fetch-url={% url 'remove_cart' item.id %} id="remove_cart_{{item.id}}" data-context={{item.id}} style="position:absolute;margin-left:auto;right:10px;top:10px;" class="card__add">
												<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
												</button>
											{% else %}
											<button onclick="add_cart(this);" fetch-url={% url 'add_cart' item.id %} id="add_cart_{{item.id}}" data-context={{item.id}}  style="position:absolute;margin-left:auto;right:10px;top:10px;" class="card__add">
												<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
											</button> 
											{% endif %}
											<button onclick="add_cart(this);" fetch-url={% url 'add_cart' item.id %} id="add_cart_{{item.id}}" data-context={{item.id}}  style="display:none;position:absolute;margin-left:auto;right:10px;top:10px;" class="card__add">
												<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
											</button> 
	
											<button onclick="remove_cart(this);" fetch-url={% url 'remove_cart' item.id %} id="remove_cart_{{item.id}}" data-context={{item.id}} style="display:none;position:absolute;margin-left:auto;right:10px;top:10px;" class="card__add">
												<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
												</button>
											
											{% else %}
	
										<button style="position:absolute;margin-left:auto;right:10px;top:10px;" class="card__add">
										<a href={% url 'login' %} > <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></a>
										</button> 
										{% endif %}
	
											
	
										
									<h3 class="card__title"><a href="{% url 'details' slug=item.slug%}">{{item.movie_name}}</a></h3>
									<ul class="card__list">
										<li>{{item.type}}</li>
										<li>{{item.duration}} min</li>
										<li>{{item.price}} $</li>
									</ul>
									
								</div>
							</div>
							{% endfor %}
						</div>

						<!-- end favourite scenes-->

							<!-- favorites -->
					<div style="margin-top:5px;margin-bottom:-50px;" class="col-12">
						<h1 class="home__title">Favourite PhotoSets </h1><F5>
					</div>
					<!--dvd-->
						<div class="row row--grid">
							{% for item in favourite_photoset %}
							<div  class="large_screen  col-6 col-sm-4 col-lg-3 col-xl-2 ">
								<div class="card" style='width:220px;'>
									<a style="border-radius:0px;" href="{% url 'details' slug=item.slug %}" class="card__cover">
										<img style="filter:blur(0);" class='product_image' src="{{item.coverphoto.url}}" alt="">
																			</a>
										{% if user.is_authenticated %}
										{% if item.id in user_favourite_movie %}
										<button fetch-url="{% url 'remove_favourites' item.id %}" data-context="{{item.id}}" onclick="remove_favourites(this)"  id="remove_favourites_{{item.id}}" class="card__add" type="button">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100">
												<path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z" fill="blue"/>
											</svg>
											
											</button>
										{% else %}
										<button data-context="{{item.id}}" fetch-url="{% url 'add_favourites' item.id %}"onclick="add_favourites(this)"  id="add_favourites_{{item.id}}" class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button>
										{% endif %}
										<button style="display:none" fetch-url="{% url 'remove_favourites' item.id %}" data-context="{{item.id}}" onclick="remove_favourites(this)"  id="remove_favourites_{{item.id}}" class="card__add" type="button">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100">
												<path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z" fill="blue"/>
											</svg>
											
											</button>
											<button style="display:none;" data-context="{{item.id}}" fetch-url="{% url 'add_favourites' item.id %}"onclick="add_favourites(this)"  id="add_favourites_{{item.id}}" class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button>
	
	
											{% else %}
											<a href="{% url 'login' %}"><button class="card__add" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg></button></a>
											{% endif %}
											{% if user.is_authenticated %}
											{% if item.id in user_added_cart %}
											<button onclick="remove_cart(this);" fetch-url={% url 'remove_cart' item.id %} id="remove_cart_{{item.id}}" data-context={{item.id}} style="position:absolute;margin-left:auto;right:10px;top:10px;" class="card__add">
												<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
												</button>
											{% else %}
											<button onclick="add_cart(this);" fetch-url={% url 'add_cart' item.id %} id="add_cart_{{item.id}}" data-context={{item.id}}  style="position:absolute;margin-left:auto;right:10px;top:10px;" class="card__add">
												<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
											</button> 
											{% endif %}
											<button onclick="add_cart(this);" fetch-url={% url 'add_cart' item.id %} id="add_cart_{{item.id}}" data-context={{item.id}}  style="display:none;position:absolute;margin-left:auto;right:10px;top:10px;" class="card__add">
												<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
											</button> 
	
											<button onclick="remove_cart(this);" fetch-url={% url 'remove_cart' item.id %} id="remove_cart_{{item.id}}" data-context={{item.id}} style="display:none;position:absolute;margin-left:auto;right:10px;top:10px;" class="card__add">
												<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
												</button>
											
											{% else %}
	
										<button style="position:absolute;margin-left:auto;right:10px;top:10px;" class="card__add">
										<a href={% url 'login' %} > <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></a>
										</button> 
										{% endif %}
	
											
	
										
									<h3 class="card__title"><a href="{% url 'details' slug=item.slug%}">{{item.movie_name}}</a></h3>
									<ul class="card__list">
										<li>{{item.type}}</li>
										<li>{{item.duration}} min</li>
										<li>{{item.price}} $</li>
									</ul>
									
								</div>
							</div>
							{% endfor %}
						</div>
						<!--end favourite photosets-->
					
					<!-- end paginator -->
				</div> 

				<div class="tab-pane show active" id="tab-3" role="tabpnel">
					<div class="row">
						<div class="col-12">
							<div class="sign__wrap">
								<div class="row">
									<!-- details form -->
									<div class="col-12 col-lg-6">
										<form action="#" class="sign__form sign__form--profile sign__form--first">
											<div class="row">
												<div class="col-12">
													<h4 class="sign__title">Profile details</h4>
												</div>

												<div class="col-12 col-md-6 col-lg-12 col-xl-6">
													<div class="sign__group">
														<label class="sign__label" for="username">Username</label>
														<input id="username" type="text" name="username" disabled class="sign__input" placeholder="User name" value={{user.username}}>
													</div>
												</div>

												<div class="col-12 col-md-6 col-lg-12 col-xl-6">
													<div class="sign__group">
														<label class="sign__label" for="email">Email</label>
														<input id="email" type="email" name="email" class="sign__input" placeholder="email@email.com" value={{user.email}} disabled>
													</div>
												</div>

												<div class="col-12 col-md-6 col-lg-12 col-xl-6">
													{% comment %} <div class="sign__group">
														<label class="sign__label" for="firstname">First name</label>
														<input id="firstname" type="text" name="firstname" class="sign__input" placeholder="John">
													</div> {% endcomment %}
												</div>

												<div class="col-12 col-md-6 col-lg-12 col-xl-6">
													{% comment %} <div class="sign__group">
														<label class="sign__label" for="lastname">Last name</label>
														<input id="lastname" type="text" name="lastname" class="sign__input" placeholder="Doe">
													</div> {% endcomment %}
												</div>

												{% comment %} <div class="col-12">
													<button class="sign__btn" type="submit" disabled>Save</button>
												</div> {% endcomment %}
											</div>
										</form>
									</div>
									<!-- end details form -->

									<!-- password form -->
									<div class="col-12 col-lg-6">
										<form action="{% url 'changed_password' %}" method='POST' class="sign__form sign__form--profile">
											{% csrf_token %}
                                            <div class="row">
												<div class="col-12">
													<h4 class="sign__title">Change password</h4>
												</div>

												<div class="col-12 col-md-6 col-lg-12 col-xl-6">
													<div class="sign__group">
														<label class="sign__label" for="oldpass">Email</label>
														<input id="oldpass" type="email" name="email" class="sign__input">
													</div>
												</div>

												<div class="col-12 col-md-6 col-lg-12 col-xl-6">
													<div class="sign__group">
														<label class="sign__label" for="newpass">password</label>
														<input id="newpass" type="password" name="password" class="sign__input">
													</div>
												</div>

												<div class="col-12 col-md-6 col-lg-12 col-xl-6">
													<div class="sign__group">
														<label class="sign__label" for="confirmpass">Confirm new password</label>
														<input id="confirmpass" type="password" name="new_password" class="sign__input">
													</div>
												</div>

												{% comment %} <div class="col-12 col-md-6 col-lg-12 col-xl-6">
													<div class="sign__group">
														<label class="sign__label" for="select">Select</label>
														<select name="select" id="select" class="sign__select">
															<option value="0">Option</option>
															<option value="1">Option 2</option>
															<option value="2">Option 3</option>
															<option value="3">Option 4</option>
														</select>
													</div>
												</div> {% endcomment %}

												<div class="col-12">
													<button class="sign__btn" type="submit">Change</button>
												</div>
											</div>
										</form>
									</div>
									<!-- end password form -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="tab-4" role="tabpanel">
					<!-- favorites -->
					<div style="display:block;" class="row row--grid">
						<div style="color:white;margin-top:15px;text-align:center;">Download all your pending Files from here:</div>
						<a href="{% url 'download_list' %}"><button   class="sign__btn">Download</button></a>

					</div>
						

						
				</div>
					<!-- end favorites -->

					
					<!-- end paginator -->
				<div class="tab-pane fade" id="tab-5" role="tabpanel">
					{% comment %} <a href='{% url 'download_pdf' order_number transID  %}' class="btn btn-primary">Download Invoice</a>  {% endcomment %}
					<!-- favorites -->
					<div style="margin-top:20px;" class="row row--grid">
						<div class="col-12">
							<div class="main__table-wrap">
								<table class="main__table">
									<thead>
										<tr>
											<th>Order_number</th>

											<th>Payment_Id</th>
											<th>Date</th>
											<th>Download Invoice</th>
										</tr>
										
									</thead>
								
		
									<tbody>
										<tr>
											{% for data in orders_product %}
											<td>
												<div class="main__table-text">{{data.order_number}}</div>
											</td>
											
											
											<td>
												<div class="main__table-text">{{data.payment.payment_id}}</div>
											</td>

											<td>
												<div class="main__table-text">{{data.payment.created_at|date:"M d, Y"}}</div>
											</td>
											<td>
												<div class="main__table-text"><a class="sign__btn" href="{% url 'download_pdf' data.order_number data.payment.payment_id %}">Download Invoice</a></div>
											</td>
											
									</tr>
									{% endfor %}
																	</tbody>
								</table>
							</div>
						</div>
						

						
					</div>
					<!-- end favorites -->

					
					<!-- end paginator -->
				</div> 



			</div>
			<!-- end content tabs -->
			
		</div>
	</div>
	<!-- end profile -->

	<!-- partners -->
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="partners owl-carousel">
						<a href="#" class="partners__img">
							<img src="img/partners/3docean-light-background.png" alt="">
						</a>

						<a href="#" class="partners__img">
							<img src="img/partners/activeden-light-background.png" alt="">
						</a>

						<a href="#" class="partners__img">
							<img src="img/partners/audiojungle-light-background.png" alt="">
						</a>

						<a href="#" class="partners__img">
							<img src="img/partners/codecanyon-light-background.png" alt="">
						</a>

						<a href="#" class="partners__img">
							<img src="img/partners/photodune-light-background.png" alt="">
						</a>

						<a href="#" class="partners__img">
							<img src="img/partners/themeforest-light-background.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end partners -->

	<!-- footer -->
	{% include 'include/footer.html' %}

	<!-- modal top-up -->
	<script>
const ageModal = document.getElementById("ageModal");

// Get the Yes and No buttons by their IDs
const yesButton = document.getElementById("yesButton");
const noButton = document.getElementById("noButton");
const agecheck=document.getElementById("age_check")
const download_check=document.getElementById('download_check')
const delete_check=document.getElementById('delete_check')
		function modalshow(){	
		// Get modal and site content elements by their IDs
// Get modal and site content elements by their IDs

ageModal.style.zIndex='1000'
agecheck.style.zIndex='1000'

// Event listener for the No button (You can customize the behavior)
// Show the modal initially (optional)
	ageModal.style.display = "block";
	}


noButton.addEventListener("click", () => {
			clickyes()
	});
			
function checker(){
	if (download_check.checked && delete_check.checked){
			yesButton.disabled=false
			}
			else{
			yesButton.disabled=true
			}
			}


			function clickyes(){
				ageModal.style.display = "none";
				agecheck.style.zIndex='0'
				ageModal.style.zIndex='0'
			}
// Event listener for the Yes button
yesButton.addEventListener("click", () => {
    // Hide the modal
clickyes()
deleteurl=yesButton.getAttribute('delete-url')
 fetch(deleteurl) 
homeurl=yesButton.getAttribute('home-url')
window.location.href=homeurl

});
			
	</script>

	{% include 'include/script.html' %}
	<!-- end modal top-up -->

{% endblock %}