{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
	<title>FlixTV – Movies & TV Shows, Online cinema HTML Template</title>
{% endblock %}


{% block content %}
<!----code for responsiveness -->
{% include 'include/responsive.html' %}

	<!-- header (relative style) -->
{% include 'include/header.html' %}
<section class="top section section--head mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6">
                <h1 style="margin-bottom:70px;    margin-bottom: -13px;" class="dvd_padding section__title section__title--head">{% trans "Stars" %}</h1>
            </div>

            <div class="col-12 col-xl-6">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a href="index.html">{% trans "Home" %}</a></li>
                    <li class="breadcrumb__item breadcrumb__item--active">{% trans "Stars" %}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end head -->

<!-- catalog -->
<div class="catalog catalog--page">
    <div class="container">
        <div class="row">
            <div class="col-12">
             
                    <div id="paginator_data" style="justify-content:center;" class="row row--grid">

                        {% for item in star %}

                
                    <div  class="large_screen col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div style="width:220px;" class="card">
                            <a href="{% url 'star_detail' id=item.id %}" class="card__cover">
                                <img style="filter:blur(0)" class="product_image" src="{{item.image.url}}" alt="">
                            </a>
                            <h3 class="card__title"><a href="{% url 'star_detail' id=item.id%}">{{item.name}}</a></h3>
                           
                        </div>
                    </div>
                
                
                    {% endfor %}</div>

                </div>
            </div>



            <style>
                .page-item{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    border-radius: 12px;
                    background-color: #131720;
                    font-size: 14px;
                    color: #e0e0e0;
                    font-weight: 500;
                }
            </style>
            <div class="row">
                <div class="col-12">
                    <div style="justify-content:center;" class="catalog__paginator-wrap">
                        {% comment %} <span style="position:absolute;left:25px;" class="catalog__pages">10 from {{count}}</span> {% endcomment %}
        
                        <ul id="pagination_click" data-content="paginator_data" class="catalog__paginator">
                            <nav class="mt-4" aria-label="Page navigation sample">
                                {% if star.has_other_pages %}
                                <ul class="pagination" style='display: flex;margin-bottom: 13px;'>
                                    {% if star.has_previous %}
                                    <li class="page-item "><a class="page-link"
                                            href="?page_star={{star.previous_page_number}}"><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.75 5.36475L13.1992 5.36475" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5.771 10.1271L0.749878 5.36496L5.771 0.602051" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></li>
                                    {% else %}
                                    <li class="page-item disabled"><a class="page-link" href=""><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.75 5.36475L13.1992 5.36475" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5.771 10.1271L0.749878 5.36496L5.771 0.602051" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></li>
                                    {% endif %}
            
                                    {% for i in star.paginator.page_range %}
                                    {% if star.number == i %}
                                    <li style="margin-right:15px;" class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="?page_star={{i}}">{{i}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if star.has_next %}
                                    <li class="page-item"><a class="page-link active" href="?page_star={{star.next_page_number}}"><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.1992 5.3645L0.75 5.3645" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8.17822 0.602051L13.1993 5.36417L8.17822 10.1271" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></li>
                                    {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#"><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.1992 5.3645L0.75 5.3645" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8.17822 0.602051L13.1993 5.36417L8.17822 10.1271" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </nav>
                        </ul>
                    </div>
                </div>
            </div>
        </div>		

        {% comment %} <div class="row">
            <div class="col-12">
                <button class="catalog__more" type="button">Load more</button>
            </div>
        </div> {% endcomment %}
    </div>
</div>
<!-- end catalog -->



<!-- footer -->
{% include 'include/footer.html' with pages=pages %}
{% include 'include/script_pagination.html' %}

<!-- end footer -->
{% endblock %}
